@import "./variable.css";

footer {
  background-color: var(--offwhite);
  position: relative;
}

.profile-icon {
  position: fixed;
  bottom: 10px;
  width: 3%;
  height: 28px;
  left: 20px;
}

.vibesIcon {
  position: fixed;
  bottom: 10px;
  width: 3%;
  height: 28px;
  display: inline-block;
  right: 20px;
}

.route-dropoff {
  align-items: center;
  position: relative;
  display: inline-block;
  bottom: 10px;
  width: 50%;
}

.dropoff-location {
  font-weight: 600;
  text-align: center;
  display: inline-block;
  left: 50%;
  position: absolute;
}

.eta {
  text-align: center;
  position: absolute;
  display: inline-block;
  /* left: 50%; */
}

.bottom-nav {
  position: relative;
}

.nav-container {
  position: fixed;
  bottom: 10px;
  /* width: 100%; */
  /* justify-content: center; */
}
