/* colors */
:root {
  --offwhite: rgb(247, 243, 239);
  --grey: rgb(119, 119, 119);
  --lightgrey: rgb(221, 218, 214);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --brown: rgb(63, 56, 37);
  --transparent: rgb(157, 157, 157 0);
  --offblack: rgb(30, 29, 30);
  --tan: rgb(234, 230, 219);
  --lightbrown: rgb(108, 104, 91);
  --salmon: rgb(172, 130, 109);
  --darktan: rgb(217, 216, 203);
}
