@import "./variable.css";

/* .profile-icon {
  position: fixed;
  bottom: 10px;
  left: 250px;
  display: inline-block;
  z-index: 1;
  width: 10px;
  height: 10px;
  cursor: pointer;
} */

/* .vibesIcon {
  position: fixed;
  bottom: 10px;
  display: inline-block;
  left: 1400px;
  width: 10px;
  height: 10px;
  cursor: pointer;
} */

/* .route-dropoff {
  bottom: 0;
  display: inline;
  position: fixed;
  left: 40%;
  max-width: 400px;
  z-index: 1;
  font-size: 15px;
} */

.dropoff-location {
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  z-index: 1;
}

.eta {
  font-size: 15px;
  z-index: 1;
}

.nav-container {
  background-color: var(--tan);
  border-top: 2px var(--lightgrey);
  z-index: 1;
}
