@import "./variable.css";

/* styling for heder section - logo/kabob */

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.logo {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  margin: auto;
  padding: 15px;
}

.kabob {
  right: 20px;
  position: absolute;
  z-index: 2px;
  top: 20px;
}
