@import "./variable.css";

/* map section styling */

.container {
  width: 100%;
  position: relative;
}

.map {
  margin-top: 15px;
  margin-bottom: 15px;
  image-rendering: auto;
}

.map-title {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "PxGrotesk-Bold";
  color: var(--salmon);
  letter-spacing: 2px;
}

.eta-map {
  font-family: "PxGrotesk-Light";
  color: var(--brown);
  font-size: 15px;
}

.vibe-btn {
  width: 100%;
  height: 45px;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--offwhite);
  border: 1px solid var(--salmon);
  background-color: var(--salmon);
  letter-spacing: 2px;
  margin-bottom: 65px;
  font-family: "PxGrotesk-Regular";
}

.arrival {
  font-family: "PxGrotesk-Light";
  font-size: 80px;
  line-height: 72px;
}

.vibe-title {
  font-size: 12px;
  font-family: "PxGrotesk-Light";
  margin: 0;
}

.vibe {
  font-family: "PxGrotesk-Regular";
  font-size: 13px;
}

.map-icon {
  image-rendering: auto;
  image-rendering: crisp-edges;
  position: relative;
  display: inline;
  bottom: 75px;
  z-index: 1px;
  float: right;
}

@media (max-width: 375px) {
  .map-title {
    font-size: 11px;
  }
}
