@import "./variable.css";

/* trip-info section styling */

.trip-container {
  width: 68%;
  position: relative;
  margin: auto;
}

.trip-title {
  font-family: "PxGrotesk-Regular";
  font-size: 80px;
  display: block;
  align-items: baseline;
}

.trip-info {
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trip-sub {
  font-family: "PxGrotesk-Regular";
  color: var(--grey);
  font-size: 15px;
}

.trip-details {
  font-family: "PxGrotesk-Regular";
  font-size: 15px;
  color: var(--offblack);
}

.arrival {
  font-family: "Optima-medium";
}
