@import "./variable.css";

/* trip-info section styling */

.trip-container {
  position: relative;
  margin: auto;
  margin-bottom: 100px;
  justify-content: center;
}

.trip-title {
  font-family: "PxGrotesk-Light";
  font-size: 50px;
  margin-bottom: 40px;
  padding: 0 15px 0 0;
  margin-left: auto;
  margin-top: 0;
  margin-left: 11px;
}

.trip-info {
  margin-bottom: 35px;
  position: relative;
  display: inline-flex;
}

.top-line {
  margin-top: 0;
  margin-bottom: 10px;
}

.trip-sub {
  font-family: "PxGrotesk-Regular";
  color: var(--grey);
  font-size: 15px;
  margin: 0;
  padding: 0;
  inline-size: 115px;
}

.trip-details {
  font-family: "PxGrotesk-Regular";
  font-size: 13px;
  color: var(--brown);
  justify-content: center;
}

.arrival-time {
  font-family: "PxGrotesk-Light";
  font-size: 80px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0;
}

.drop-container {
  display: flex;
  position: relative;
}

.trip-btn {
  width: 100%;
  height: 45px;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--lightgrey);
  border: 1px solid var(--lightgrey);
  background-color: var(--offwhite);
  letter-spacing: 2px;
  font-family: "PxGrotesk-Regular";
}

.container {
  justify-content: center;
}

.dropoff-location-info {
  font-family: "PxGrotesk-Regular";
  color: var(--brown);
  margin: 6px 13px 6px 15px;
  position: relative;
  display: block;
}

.pickup-location {
  font-size: 17px;
  color: var(--lightbrown);
  font-family: "PxGrotesk-Regular";
  margin: 6px 10px 3px 15px;
  line-height: 18px;
}

.dest {
  font-size: 17px;
  font-family: "PxGrotesk-bold";
  color: var(--brown);
  margin: 6px 10px 3px 15px;
  line-height: 11px;
}

.note {
  margin-top: 25px;
  font-size: 15px;
  font-family: "PxGrotesk-Light";
  display: inline;
  position: relative;
  inline-size: 250px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.editIcon {
  image-rendering: auto;
  image-rendering: crisp-edges;
  width: 37px;
  height: 15px;
  display: inline-block;
  position: absolute;
  left: 230px;
  bottom: 76px;
  z-index: 1px;
}

.info-icon {
  image-rendering: crisp-edges;
  display: inline-block;
  position: absolute;
  left: 113px;
  bottom: 17px;
  z-index: 1px;
}

.trip-fare {
  position: relative;
}

/* vibe styling */

.vibe-name {
  font-family: "PxGrotesk-Bold";
}

/* media queiries for trip scope */

@media (max-width: 550px) {
  .trip-title {
    font-size: 40px;
  }

  .arrival-time {
    font-size: 75px;
    line-height: 20px;
  }

  .dropoff-info {
    line-height: 90px;
  }
}

/* contents adjusted when reaches 410px */
@media (max-width: 410px) {
  .arrival-time {
    font-size: 70px;
  }

  .trip-title {
    font-size: 35px;
  }

  .dest {
    font-size: 15px;
  }

  .editIcon {
    left: 220px;
    bottom: 75px;
  }

  /* .arrival-time {
    font-size: 75px;
    line-height: 20px;
  } */

  .dropoff-info {
    font-size: 14px;
    line-height: 90px;
  }
}

/* contents adjusted when reaches 380px */
@media (max-width: 380px) {
  .trip-sub {
    font-size: 13px;
  }

  .trip-details {
    font-size: 13px;
    margin: auto;
  }

  .info-icon {
    left: 90px;
  }

  .dropoff-location-info {
    font-size: 13px;
  }

  .arrival-time {
    font-size: 65px;
  }

  .note {
    font-size: 14px;
    inline-size: 220px;
  }
}

/* contents adjusted when reaches 375px */
@media (max-width: 375px) {
  .info-icon {
    left: 100px;
    bottom: 0;
  }

  .arrival-time {
    font-size: 60px;
    line-height: 72px;
  }

  .pickup-location {
    font-size: 15px;
  }

  .dropoff-info {
    margin-bottom: 20px;
  }
}

/* contents adjusted when reaches 280px - galaxy fold */
@media (max-width: 280px) {
  .dropoff-location-info {
    font-size: 12px;
  }
}
