@import "./variable.css";

/* vehicle section styling */

.vehiclephoto {
  margin-top: 80px;
  margin-bottom: 40px;
}

.vehicle-title {
  text-transform: uppercase;
  font-size: 13px;
  font-family: "PxGrotesk-Bold";
  color: var(--salmon);
  display: block;
  align-items: baseline;
  letter-spacing: 2px;
  margin-top: 20px;
  padding: 0 20px 0 0;
}

.vehicle-license {
  font-family: "PxGrotesk-Light";
  font-size: 80px;
}

.vehicle-btn {
  width: 100%;
  height: 45px;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--lightgrey);
  border: 1px solid var(--lightgrey);
  background-color: var(--offwhite);
  letter-spacing: 2px;
  font-family: "PxGrotesk-Regular";
  margin-bottom: 150px;
  margin-top: 20px;
}

.vehicle-subs {
  font-size: 13px;
  font-family: "PxGrotesk-Light";
}

.vehicle-info {
  font-size: 13px;
  font-family: "PxGrotesk-Bold";
}
